@charset "UTF-8";

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: lightslategray;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
  overflow: hidden;

  transition: height .3s, width .3s;
  transition-timing-function: ease;
}

.expand{
  height: 280px;
  width: 300px;
}

h1 {
  background-color: lightblue;
  text-align: center;
}

h2 {
  text-align: center;
}

label, input, p, button, h2 {
  padding: 5px;
  margin: 5px;
  margin-left: 8px;
}

input#cityNameInput {
  width: 280px;
}

input#apiKeyInput {
  width: 300px;
}

button#generateForecastButton {
  width: 384px;
}

button#resetButton {
  width: 284px;
}

.weather-result {
  display: flex;
  justify-content: center;
  align-items: center;
}
